@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Sans:wght@100&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');